//
// Positions
//
$positon-key: (top, left, right, bottom) !default;
@each $key in $positon-key {
    @each $name,
    $value in $positon-and {
        .#{$key}-#{$name} {
            #{$key}: #{$value} !important;
        }
        .#{$key}--#{$name} {
            #{$key}: -#{$value} !important;
        }
    }
}

.position-fixed {
    position: fixed !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

//
.position-x-center {
    left: 50%;
    transform: translateX(-50%);
}

.position-y-center {
    top: 50%;
    transform: translateY(-50%);
}

//
@for $count from 1 through 15 {
    .zindex-#{$count} {
        z-index: $count;
    }
}