.page-profile {
    position: relative;
    padding-left: 72px;
    max-width: 600px;
    margin: 0 auto;
    .profile-top {
        margin-top: 0px;
        margin-bottom: 0px;
        img {
            max-width: 150px;
        }
    }
    .profile-content {
        background: #fff;
        border-radius: 50px;
        border: 5px solid var(--f7-theme-color);
        padding: 16px 50px 20px 95px;
        position: relative;
        .profile-title {
            text-transform: uppercase;
            color: var(--f7-theme-color);
            font-weight: 700;
            font-size: 13px;
            margin-bottom: 20px;
        }
        .label-title {
            font-weight: 600;
            color: #70747f;
        }
        .label-text {
            display: flex;
            align-items: center;
            font-weight: 700;
            color: var(--f7-color-red);
        }
    }
    .profile-tabs {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        &__item {
            background: #fff;
            border: 2px solid var(--f7-theme-color);
            box-shadow: 0 3px 0 var(--f7-theme-color);
            border-radius: 12px;
            width: 160px;
            overflow: hidden;
            &:first-child {
                margin-bottom: 15px;
            }
            &.active {
                .img {
                    background: var(--f7-color-orange);
                }
            }
            .img {
                background: #4a89ea;
                img {
                    max-width: 42px;
                    margin: 0 auto;
                }
            }
            .title {
                text-transform: uppercase;
                color: var(--f7-theme-color);
                font-weight: 700;
                font-size: 13px;
                border-top: 2px solid var(--f7-theme-color);
                padding: 6px 12px;
            }
        }
    }
}

.page-login {
    max-width: 450px;
    margin: 0 auto;
    &__title {
        max-width: 180px;
        margin: 0 auto;
    }
    &__content {
        background-color: #fff;
        padding: 30px;
        border-radius: 32px;
        border: 5px solid var(--f7-theme-color);
        margin-bottom: 10px;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            border: 2px dashed #3fbfe4;
            border-radius: 18px;
            top: 10px;
            left: 10px;
            z-index: -1;
            box-sizing: border-box;
        }
    }
}