.page-detail {
    &__post {
        color: #5b5b5b;
        font-weight: 500;
        font-size: 13px;
    }
}

.page-detail-view {
    background: #000000;
    .page-content {
        padding-bottom: 0 !important;
    }
    .detail-view-content {
        box-sizing: border-box;
        padding: 15px;
    }
    .view-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        &__col {
            padding: 0 15px;
            height: var(--f7-image-view-width);
        }
        &__item {
            height: 100%;
            img {
                max-height: 100%;
            }
            &.current-view {
                animation-name: flicker;
                animation-duration: 1s;
                animation-timing-function: linear;
                animation-delay: 0;
                animation-iteration-count: infinite;
                animation-direction: normal;
                animation-play-state: running;
            }
        }
    }
}

.currentX {
    animation-name: currentX;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

.btn-play-video {
    position: absolute;
    right: 0;
    bottom: 30px;
    transform: translatex(50%);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #f4812e;
    background-image: linear-gradient(to bottom right, #ff8948, #e36015);
    z-index: 100;
    svg {
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 2;
        top: 5px;
        left: 5px;
        pointer-events: none;
        .stroke-solid {
            stroke-dashoffset: 0;
            stroke-dashArray: 300;
            stroke-width: 3px;
            transition: stroke-dashoffset 1s ease, opacity 1s ease;
            stroke: #fff;
            animation-name: PlayCricle;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-delay: 3s;
            animation-iteration-count: infinite;
            animation-direction: normal;
            animation-play-state: running;
        }
        .icon {
            transform-origin: 50% 50%;
            transition: transform 200ms ease-out;
            fill: #fff;
        }
    }
}

@keyframes currentX {
    0% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(3px);
    }
    75% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes PlayCT {
    0% {
        opacity: 1;
        transform: scale(0.8);
    }
    75% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(0.8);
    }
}

@keyframes PlayCricle {
    0% {
        stroke-dashoffset: 0;
        stroke-dashArray: 300;
    }
    75% {
        opacity: 1;
        stroke-dashoffset: 300;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dashArray: 300;
    }
}