/* Custom color theme properties */

:root {
    --f7-theme-color: #444fa0;
    --f7-theme-color-rgb: 68, 79, 160;
    --f7-theme-color-shade: #384183;
    --f7-theme-color-tint: #5661b7;
}


/* Your app custom styles here */