.input {
    input {
        border: 1px solid #b8cfdf;
        box-shadow: 0px 2px 0 0 #b8cfdf;
        border-radius: 25px;
        padding: 10px 16px;
        font-weight: 700;
        color: #5b5b5b;
    }
}