.wrapper-content {
    padding: var(--f7-navbar-custom-height) calc(var(--f7-navbar-custom-height) + var(--f7-safe-area-bottom)) 0 calc(var(--f7-navbar-custom-height) + var(--f7-safe-area-bottom));
    box-sizing: border-box;
    position: relative;
    height: 100%;
    .wrapper-icon {
        position: absolute;
        top: 0;
        left: 55%;
        transform: translateX(-50%) translateY(-50%);
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            li {
                img {
                    max-width: 55px;
                }
            }
        }
    }
    .wrapper-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 3% 20% 15px 30%;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .wrapper-title {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 700;
        color: var(--f7-theme-color);
        padding: 12px 0 12px 12px;
    }
    .wrap-icon-cate {
        position: absolute;
        left: 7%;
        bottom: 18%;
        img {
            width: 110px;
        }
    }
}